<div class="content-body">
  <div class="body-container">
    <div class="heading">
      <span class="headline">
        Let's connect with your circle in Real-Time with
        <span class="app-title"> Chit-Chat </span>
      </span>
      <br />
      <span class="sub-headline"
        >Simple. Secure. Seamless communication for everyone.</span
      >
    </div>
    <div class="buttons-row">
      Already Registered,&nbsp;&nbsp;<span class="link" (click)="login()"
        >Login</span
      >
      &nbsp;&nbsp;Otherwise,&nbsp;&nbsp;<span class="link" (click)="signUp()"
        >Sign Up</span
      >
    </div>
  </div>
</div>
