<div class="message-container">
  <div class="chat-header mat-elevation-z1">Chandan</div>
  <div class="message">
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-receive">
      <app-incoming-message></app-incoming-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
    <div class="message-send">
      <app-outgoing-message></app-outgoing-message>
    </div>
  </div>

  <div class="input-container">
    <app-message-input></app-message-input>
  </div>
</div>
